# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(steps=[('normalizer', Normalizer()),
                ('kmeans', KMeans(n_clusters=14))])

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [4]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [5]:
d = {"labels":labels,"companies":companies}
df = pd.DataFrame(d)

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [7]:
df.sort_values(by='labels')

    labels                           companies
40       0                      Procter Gamble
27       0                      Kimberly-Clark
9        0                   Colgate-Palmolive
34       1                          Mitsubishi
58       1                               Xerox
21       1                               Honda
45       1                                Sony
48       1                              Toyota
7        1                               Canon
8        2                         Caterpillar
35       2                            Navistar
30       2                          MasterCard
13       2                   DuPont de Nemours
32       2                                  3M
3        3                    American express
5        3                     Bank of America
15       3                                Ford
16       3                   General Electrics
26       3                      JPMorgan Chase
18       3                       Goldman Sachs
55       3                         Wells Fargo
53       4                       Valero Energy
23       4                                 IBM
57       4                               Exxon
12       4                             Chevron
10       4                      ConocoPhillips
44       4                        Schlumberger
25       5                   Johnson & Johnson
54       5                            Walgreen
56       5                            Wal-Mart
39       5                              Pfizer
42       6                   Royal Dutch Shell
37       6                            Novartis
49       6                               Total
47       6                            Symantec
52       6                            Unilever
19       6                     GlaxoSmithKline
46       6                      Sanofi-Aventis
6        6            British American Tobacco
43       6                                 SAP
20       6                          Home Depot
59       7                               Yahoo
33       8                           Microsoft
22       8                                  HP
14       8                                Dell
11       8                               Cisco
51       9                   Texas instruments
50       9  Taiwan Semiconductor Manufacturing
24       9                               Intel
0       10                               Apple
17      10                     Google/Alphabet
2       10                              Amazon
36      11                    Northrop Grumman
4       11                              Boeing
29      11                     Lookheed Martin
1       12                                 AIG
38      13                               Pepsi
31      13                           McDonalds
28      13                           Coca Cola
41      13                       Philip Morris

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.