# Exercise 5: Evaluating the grain clustering

In the previous exercise, you observed from the inertia plot that 3 is a good number of clusters for the grain data.  In fact, the grain samples come from a mix of 3 different grain varieties: "Kama", "Rosa" and "Canadian".  In this exercise, cluster the grain samples into three clusters, and compare the clusters to the grain varieties using a cross-tabulation.

**Step 1:** Load the dataset _(written for you)_.

You have the array `samples` of grain samples, and a list `varieties` giving the grain variety for each sample.

In [2]:
import pandas as pd

seeds_df = pd.read_csv('../datasets/seeds.csv')

# extract the grain varieties from the dataframe
varieties = list(seeds_df['grain_variety'])
del seeds_df['grain_variety']

samples = seeds_df.values

**Step 2:** Import KMeans

In [3]:
from sklearn.cluster import KMeans

**Step 3:** Create a `KMeans` model called `model` with `3` clusters.

In [4]:
model = KMeans(n_clusters = 3)

**Step 4:** Use the `.fit_predict()` method of `model` to fit it to `samples` and derive the cluster labels.

Calling `.fit_predict()` is the same as calling `.fit()` and then calling `.predict()`.

In [5]:
model.fit_predict(samples)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0,
       0, 0, 0, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2])

**Step 5:** Create a DataFrame `df` with two columns named `'labels'` and `'varieties'`, using `labels` and `varieties`, respectively, for the column values. _(This has been done for you.)_

In [23]:
import numpy as np

In [33]:
seeds_df.columns
labels = model.predict(samples)
type(labels)
# labels.reshape(-1,1)

numpy.ndarray

In [31]:
d = {"labels":labels,"varieties":varieties}
df = pd.DataFrame(d)
df

     labels       varieties
0         0      Kama wheat
1         0      Kama wheat
2         0      Kama wheat
3         0      Kama wheat
4         0      Kama wheat
..      ...             ...
205       2  Canadian wheat
206       2  Canadian wheat
207       2  Canadian wheat
208       2  Canadian wheat
209       2  Canadian wheat

[210 rows x 2 columns]

**Step 6:** Use the `pd.crosstab()` function on `df['labels']` and `df['varieties']` to count the number of times each grain variety coincides with each cluster label. Assign the result to `ct`.

In [35]:
ct = pd.crosstab(df['labels'],df['varieties'])

**Step 7:** Display `ct` by evaluating it - and inspect your cross-tabulation!  You'll see that your clustering is pretty good.

In [36]:
ct

varieties  Canadian wheat  Kama wheat  Rosa wheat
labels
0                       2          60          10
1                       0           1          60
2                      68           9           0